
@{
    Layout = null;
}
<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            立天世纪后台管理框架　<small>基于ASP.NET MVC5、B-JUI、Dos.ORM的快速开发框架。</small>
        </h4>
       
    </div>
</div>
